{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Apreciações</title>
  <link rel="stylesheet" href="{% static 'dist/semantic.min.css' %}">
</head>
<body>
  <div class="ui middle aligned center aligned grid">
    <div class="four wide column">
      <div class="ui piled segment">
        <form class="ui large form" method="POST">
          {% csrf_token %}
          <div class="field">
            <div class="ui left icon input">
              <input name="cpf" id="cpf" placeholder="Qual seu CPF?" type="text"
                data-mask="000.000.000-00" class="validate" required>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input name="data-de-nascimento" id="data-de-nascimento"
                data-mask="00/00/0000" required
                placeholder="Quando você nasceu?" type="input" class="validate">
              <i class="calendar icon"></i>'
            </div>
          </div>
          <div class="field">
            <button class="ui fluid primary large button">Entrar</button>
          </div>
          <div class="field">
            <a href="{% url 'social:begin' 'facebook' %}?next={% url 'pagina_inicial' %}" class="ui fluid facebook large button">
              <i class="facebook icon"></i>
              Entrar com Facebook
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'jquery.mask.min.js' %}"></script>
  <script src="{% static 'dist/semantic.min.js' %}"></script>
</body>
</html>
