{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Apreciações</title>
  <link rel="stylesheet" href="{% static 'dist/semantic.min.css' %}">
</head>
<body>
  <div class="ui middle aligned center aligned grid">
    <div class="four wide column">
      <div class="ui piled segment">
        <form class="ui large form" method="POST">
          {% csrf_token %}
          <div class="field">
            <div class="ui left icon input">
              <input name="usuario" id="usuario" placeholder="Qual seu usuário?" type="text" class="validate" required>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input name="senha" id="senha"
                required
                placeholder="Digite a sua senha?" type="password" class="validate">
              <i class="lock icon"></i>'
            </div>
          </div>
          <div class="field">
            <button class="ui fluid primary large button">Entrar</button>
          </div>
          <p>ou</p>
          <div class="field">
            <a href="{% url 'social:begin' 'facebook' %}?next={% url 'pagina_inicial' %}" class="ui fluid facebook large button">
              <i class="facebook icon"></i>
              Entrar com Facebook
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'dist/semantic.min.js' %}"></script>
</body>
</html>
