{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
      <title>Aprecie.me</title>
      <link rel="stylesheet" href="{% static 'semantic/dist/semantic.min.css' %}">
      <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
  </head>
  <body>
    <nav>
      <a href="{% url 'pagina_inicial' %}">Todos os reconhecimentos</a>
      <a href="{% url 'reconhecer' %}">Reconhecer</a>
    </nav>
    {% include 'menu_do_usuario.html' %}
    {% block corpo %}
    {% endblock %}
  </body>
</html>
