{% extends 'pagina_base.html' %}

{% block corpo %}
  <h1 class="ui header center aligned">{{ colaborador.nome }}</h1>

  {% regroup colaborador.reconhecimentos by valor as reconhecimentos_agrupados %}
  {% regroup colaborador.reconhecimentos by reconhecedor as reconhecedores_agrupados %}

  <h2 class="ui header center aligned">Reconhecimentos</h2>
  <div class="ui two statistics">
    <div class="ui statistic">
      <div class="value">{{ colaborador.reconhecimentos|length }}</div>
      <div class="label">Apreciações</div>
    </div>
    <div class="ui statistic">
      <div class="value">{{ reconhecedores_agrupados|length }}</div>
      <div class="label">Reconhecedores</div>
    </div>
  </div>
  <ul>
  {% for reconhecimento_agrupado in reconhecimentos_agrupados %}
      <li>{{ reconhecimento_agrupado.grouper.nome }} ({{ reconhecimento_agrupado.list|length  }})
          {% for reconhecimento in reconhecimento_agrupado.list %}
              {% include 'reconhecimento.html' with reconhecimento=reconhecimento %}
          {% endfor %}
      </li>
  {% endfor %}
  </ul>
  <h2>Reconhecedores</h2>
  <ul>
  {% for reconhecedor_agrupado in reconhecedores_agrupados %}
      <li>

        {{ reconhecedor_agrupado.grouper.nome }} ({{ reconhecedor_agrupado.list|length  }})
      </li>
  {% endfor %}
  </ul>

{% endblock %}
