{% extends 'pagina_base.html' %}

{% block corpo %}
  <h1>{{ colaborador.nome }}</h1>

  {% regroup colaborador.reconhecimentos by valor as reconhecimentos_agrupados %}
  {% regroup colaborador.reconhecimentos by reconhecedor as reconhecedores_agrupados %}

  <h2>Reconhecimentos</h2>
  <ul>
  {% for reconhecimento_agrupado in reconhecimentos_agrupados %}
      <li>{{ reconhecimento_agrupado.grouper.nome }} ({{ reconhecimento_agrupado.list|length  }})
      <ul>
          {% for reconhecimento in reconhecimento_agrupado.list %}
            <li>
              {% include 'reconhecimento.html' with reconhecimento=reconhecimento %}
            </li>
          {% endfor %}
      </ul>
      </li>
  {% endfor %}
  </ul>
  <h2>Reconhecedores</h2>

  <ul>
  {% for reconhecedor_agrupado in reconhecedores_agrupados %}
      <li>
        {{ reconhecedor_agrupado.grouper.nome }} ({{ reconhecedor_agrupado.list|length  }})
      </li>
  {% endfor %}
  </ul>

{% endblock %}
