{% extends 'pagina_base.html' %}

{% block corpo %}

  <h1 class="ui center aligned header">
    <img src="http://semantic-ui.com/images/avatar/small/elliot.jpg" alt="" class="">
    {{ colaborador.nome }}
  </h1>

  <hr class="ui divider">

  {% regroup colaborador.reconhecimentos by valor as reconhecimentos_agrupados %}
  {% regroup colaborador.reconhecimentos by reconhecedor as reconhecedores_agrupados %}

  <div class="ui two statistics">
    <div class="ui statistic">
      <div class="value">{{ colaborador.reconhecimentos|length }}</div>
      <div class="label">Apreciações</div>
    </div>
    <div class="ui statistic">
      <div class="value">{{ reconhecedores_agrupados|length }}</div>
      <div class="label">Reconhecedores</div>
    </div>
  </div>

  <hr class="ui divider">

  {% for reconhecimento_agrupado in reconhecimentos_agrupados %}
      <h1 class="ui center aligned header">
        {{ reconhecimento_agrupado.grouper.nome|title }}
        <div class="ui red circular label">
          {{ reconhecimento_agrupado.list|length  }}
        </div>
      </h1>
      {% for reconhecimento in reconhecimento_agrupado.list %}
          {% include 'reconhecimento.html' with reconhecimento=reconhecimento %}
      {% endfor %}
  {% endfor %}

  <hr class="ui divider">

  <h1 class="ui header center aligned">Reconhecedores</h1>

  <div class="ui labels">
    {% for reconhecedor_agrupado in reconhecedores_agrupados %}
      <a class="ui basic image label">
        <img src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
          {{ reconhecedor_agrupado.grouper.nome }} ({{ reconhecedor_agrupado.list|length  }})
      </a>
    {% endfor %}
  </div>


  {% endblock %}
