{% load humanize %}

<p>
  <h1 class="ui huge center aligned small icon header">
    <i class="circular users icon"></i>
    <em>"{{ reconhecimento.justificativa }}"</em>
    <div class="sub header">
      <a href="{% url 'perfil' reconhecimento.reconhecido.id %}">
        {{ reconhecimento.reconhecido }}
      </a> foi apreciado por
      <a href="{% url 'perfil' reconhecimento.reconhecedor.id %}">
        {{ reconhecimento.reconhecedor }}
      </a>,
      por <strong>{{ reconhecimento.valor|title }}</strong>
      <div class="date">
        {{ reconhecimento.data|naturalday:'d \d\e F \d\e Y' }}
      </div>
    </div
  </h1>

</p>
