{% load humanize %}
<div class="row">
    <div class="middle aligned two wide column">
      <img class="ui circular tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png" alt="" />
    </div>
    <div class="one middle aligned wide column">
      <i class="big right arrow icon"></i>
    </div>
    <div class="middle aligned two wide column">
      <img class="ui circular small image" src="http://semantic-ui.com/images/avatar2/large/molly.png" alt="" />
    </div>
</div>

<div class="row">
  <div class="ten wide center aligned column">
    <h3 class="ui center aligned huge header">
      <em>
        "{{ reconhecimento.justificativa }}"
    </em>
    </h3>
    <p>
      <strong>
        <a href="{% url 'perfil' reconhecimento.reconhecedor.id %}">
          {{ reconhecimento.reconhecedor }}
        </a>
      </strong>
      apreciou
      <strong>
        <a href="{% url 'perfil' reconhecimento.reconhecido.id %}">
        {{ reconhecimento.reconhecido }}
        </a>
      </strong>
      por
      <strong>{{ reconhecimento.valor|title }}</strong>
    </p>
    <p>
      {{ reconhecimento.data|naturalday:'d \d\e F \d\e Y' }}
    </p>
  </div>
</div>
<!--
<div class="row">
  <div class="five wide column">
    <img class="ui circular left floated tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png" alt="" />
    <img class="ui circular left floated small image" src="http://semantic-ui.com/images/avatar2/large/molly.png" alt="" />
  </div>
  <div class="ten wide column">
    <h1 class="ui header">
      "{{ reconhecimento.justificativa }}"
      <div class="sub header">
        <a href="{% url 'perfil' reconhecimento.reconhecido.id %}">
          {{ reconhecimento.reconhecido }}
        </a> foi apreciado por
        <a href="{% url 'perfil' reconhecimento.reconhecedor.id %}">
          {{ reconhecimento.reconhecedor }}
        </a>,
        por <strong>{{ reconhecimento.valor|title }}</strong>
      </div>
      <div class="sub header">
        {{ reconhecimento.data|naturalday:'d \d\e F \d\e Y' }}
      </div>
    </h1>
  </div>
</div> -->
<!--
<p>
  <h1 class="ui huge center aligned small icon header">
    <i class="circular users icon"></i>
    <em>"{{ reconhecimento.justificativa }}"</em>
    <div class="sub header">
      <a href="{% url 'perfil' reconhecimento.reconhecido.id %}">
        {{ reconhecimento.reconhecido }}
      </a> foi apreciado por
      <a href="{% url 'perfil' reconhecimento.reconhecedor.id %}">
        {{ reconhecimento.reconhecedor }}
      </a>,
      por <strong>{{ reconhecimento.valor|title }}</strong>
      <div class="date">
        {{ reconhecimento.data|naturalday:'d \d\e F \d\e Y' }}
      </div>
    </div
  </h1>

</p> -->
