{% load humanize %}
<div class="row">
    <div class="middle aligned two wide column">
      <img class="ui circular tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png" alt="" />
    </div>
    <div class="one middle aligned wide column">
      <i class="big right arrow icon"></i>
    </div>
    <div class="middle aligned two wide column">
      <img class="ui circular small image" src="http://semantic-ui.com/images/avatar2/large/molly.png" alt="" />
    </div>
</div>

<div class="row">
  <div class="ten wide center aligned column">
    <h3 class="ui center aligned huge header">
      <em>
        "{{ reconhecimento.justificativa }}"
    </em>
    </h3>
    <p>
      <strong>
        <a href="{% url 'perfil' reconhecimento.reconhecedor.id %}">
          {{ reconhecimento.reconhecedor }}
        </a>
      </strong>
      apreciou
      <strong>
        <a href="{% url 'perfil' reconhecimento.reconhecido.id %}">
        {{ reconhecimento.reconhecido }}
        </a>
      </strong>
      por
      <strong>{{ reconhecimento.valor|title }}</strong>
    </p>
    <p>
      {{ reconhecimento.data|naturalday:'d \d\e F \d\e Y' }}
    </p>
  </div>
</div>
